
                        <td >
                              {{ curso.nome }}   
                        </td>
                        <td >
                              {{ curso.publico }}       
                        </td>
                        <td >
                              {{ curso.objetivo }}   
                        </td>
                        <td >
                              {{ curso.requisitos }}   
                        </td>
                        <td >
                          <a (click)='deleteItem()' class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
                        </td>  
